body{
	margin: 0 auto;
	
}
.container{
   width: 1000px;
   max-width: 100%;
   background-color:#008080;
   height: 550px;
   margin: 5% auto;
}
.heading{
	padding-top: 10px;
	margin: 10px auto;
	color: white;
	font-weight: bold;
	position: relative;
	text-align: center;
}

div.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 30%;
  background: #f1f1f1;
  padding-left: 20px;
  margin-left: 25%;
}

div.example button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

div.example button:hover {
  background: #0b7dda;
}

div.example::after {
  content: "";
  clear: both;
  display: table;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 50px 130px;
}

ul li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  position: relative;
}

ul li:hover {
  background-color: #eee;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

.close:hover {background: #bbb;}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
@media(min-width:320px) and (max-width:667px){
  
.container {
    width: 1000px;
    max-width: 100%;
    display: block;
    background-color: #008080;
    height: 550px;
    margin: 10% auto;
}
body{
  background-color: #008080;
}

/*input {
     width:100%;
    color: -internal-light-dark(black, white);
    text-indent: 0px;
    display: inline-block;
     text-align: start; 
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: text;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}*/

div.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 50%;
    background: #f1f1f1;
    padding-left: 20px;
    margin-left: 13%;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 40px;
}
.close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
}


div.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
/*ul li:hover {
  background-color: #eee;
}


.close:hover {background: #bbb;}
}
*/
/*https://www.w3schools.com/howto/howto_js_todolist.asp*/
